{% extends 'base.html.twig' %}

{% block body %}
    <a href="{{ path('app_home') }}">retour à l'accueil</a>
    <div class="border">
        <p>{{ dumpling.name }}</p>
        <p>{{ dumpling.filing }}</p>
        <a href="{{ path('delete_dumpling', { id:dumpling.id}) }}">delete</a>
    </div>

{% endblock %}